@import '../../vars.scss';

.header {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 35%;
  padding-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 35%;
  gap: 15px;
}

.input {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: $b-radius;
  border: 0;
  outline: 0;
  border: 1px solid transparent;
  transition: $transition;

  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}

@media (width <= 1000px) {
  .form {
    padding: 0 5%;
  }
}
